.app { padding: 25px; }

.title { text-align: center; }
.main {
	align-items: flex-start;
	display: flex; }

.search-line {
	flex-direction: column;
	display: flex;
    justify-content: space-between;
	width: 30%;
	margin: 0 auto;
}
.search-input {
	border: 1px solid #ccc;
	border-radius: 5px;
	flex: 1;
	margin-bottom: 10px;
	height: 40px;
	line-height: 20px;
	padding: 8px 15px;
}
.projects-wrapper {
	padding: 0;
	width: 50%;
	margin: 0 auto;
}

.projects {
	align-items: flex-start;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
}

.project {
    width: 100%;
}

.project-info {
	width: 20%;
}

.project-prev {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: none;
	margin: 10px;
	padding: 0;
	text-align: center;
	width: 270px;
}

.searchBtn {
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	margin: 50px auto 0;
	width: 150px;
}